<style>
    body, html {
    margin: 0;
    font-family: sans-serif;
    }
    .content {
    margin: 0 auto;
    width: 1100px;
    }
    table, td, th {
        text-align: center;
        border: 1px solid black;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th {
    height: 30px;
    }
    td {
    text-align: center;
    padding: 5px;
    }
    .form {
    margin-top: 20px;
    }
    content {
    width: 70%;
    }
</style>
